.header-nav {
  background-color: teal;
  color: #fff;
}

.logo {
  font-size: 30px;
  color: #fff;
}

.active {
  color: #333;
}

.nav-menu ul li {
  display: inline;
}

.nav-menu ul li a {
  color: white;
  text-decoration: none;
  margin-right: 30px;
}

article {
  min-height: 70vh;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s ease-in;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
